/**{*/
    /*outline: 1px solid grey;*/
/*}*/
body{
    width: 2732px;
    text-align: center;
}
header{
    height: 16rem;
    border: 2px solid #f8fafb;
    box-sizing: border-box;
    background-color:  #ffffff;
    box-shadow: 0 0 12.96px 5.04px #c5cfd8;


}
.header-menu{
    font-family: Roboto;
    padding: 15px;
    position: relative;
    height: 16rem;

}
.header-menu-item{
    top: 50%;
    transform: translateY(-50%);

}

.header-menu-links a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #2d4251;
    font-size: 32px;
    font-weight: lighter;
}
.header-menu-links:hover a{
    color:  #3899ed;
    border-bottom: 2px solid #3899ed;
    margin-bottom: -2px;
}
header p{
    margin: 10px 0;
    color:  #2d4251;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}
.header-menu-contacts a{
    color: #2d4251;
}
.header-menu-location>p>span{
    position: absolute;
    left: -3%;
    top: 15%;
}
.header-menu-location>p>a{
    font-family: Roboto;
    color:  #2d4251;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}
.header-menu-button{
    height: 7rem;
}
.header-menu-button img{
    padding-right: 10px;
}

.header-menu-button button{
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
    width: 35%;
    margin: 0 5%;
    border: none;
    border-bottom-left-radius: 25% 50%;
    border-bottom-right-radius: 25% 50%;
    border-top-left-radius: 25% 50%;
    border-top-right-radius: 25% 50%;
    color:  #2d4251;
    font-size: 2rem;
    font-weight: bold;
    height: 6rem;
}
.header-menu-button button p{
    float: left;
    margin: 0;
}
.header-menu-button button .glyphicon{
    float: left;
    padding-right: 5px;
    top: 7px;
}
.header-dropdown{
    left: 54%;
    font-size: 2rem;

}
